[user]
	name = Flo Kempenich
	email = {{ .email }}
[core]
    autocrlf = input
    pager = delta --dark
	editor = vim
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[delta]
    syntax-theme = gruvbox
[interactive]
    diffFilter = delta --color-only
[magit]
	hideCampaign = true
[url "https://"]
	insteadOf = git://
[push]
	default = simple
[pull]
	rebase = true
[branch]
	autosetupmerge = always
[init]
	defaultBranch = main
