[user]
	name = Flo Kempenich
	email = {{ .email }}
[core]
    autocrlf = input
    pager = delta-autotheme
	editor = nvim
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[interactive]
    diffFilter = delta-autotheme --color-only
[magit]
	hideCampaign = true
[url "https://"]
	insteadOf = git://
[push]
	default = simple
[pull]
	rebase = true
[branch]
	autosetupmerge = always
[init]
	defaultBranch = main
