{{ $ts := "neko-hoki.ts.net" -}}

Host *
  ForwardAgent yes
  AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
  UseKeychain yes
{{- end }}
{{- if eq .trust_level "personal" }}


# --- Devices ---------------------------------------------------------

Host steamdeck
  HostName 192.168.0.106
  User deck

Host remarkable-2
  HostName 192.168.0.113
  User root

Host remarkable-paper-pro
  HostName 192.168.0.114
  User root


# --- Home servers ----------------------------------------------------

Host dadhome-haos
  HostName dadhome-haos.{{ $ts }}
  User root

Host dadhome-nas
  HostName dadhome-nas.{{ $ts }}
  User flo

Host dadhome-pm
  HostName dadhome-pm.{{ $ts }}
  User root

Host thehome-haos
  HostName thehome-haos.{{ $ts }}
  User root

Host thehome-nas
  HostName thehome-nas.{{ $ts }}
  User flo

Host thehome-pm
  HostName thehome-pm.{{ $ts }}
  User root

Host thehome-server
  HostName thehome-server.{{ $ts }}
  User flo

Host thehome
  HostName thehome.floriankempenich.com
  Port 7022
  User flo

Host thehome.local
  HostName 192.168.0.100
  User flo

Host homeassistant.local
  HostName homeassistant.local
  User flo


# --- Cloud servers ---------------------------------------------------

Host floriankempenich.com
  HostName floriankempenich.com
  User root

Host seedbox
  HostName cacus.feralhosting.com
  User shockn745
{{- end }}


# --- Tools -----------------------------------------------------------

# Use SSH over HTTPS for GitHub (works on restrictive WiFi)
# See: https://stackoverflow.com/a/8081292
Host github.com
  HostName ssh.github.com
  Port 443
