{{- if eq .os "macos" -}}
#!/bin/bash

# OmniFocus — prevent macOS from suspending it
{{ template "macos-default" dict
    "domain" "com.omnigroup.OmniFocus4"
    "key"    "NSAppSleepDisabled"
    "type"   "bool"
    "value"  "YES"
}}

{{ end -}}
